<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>t3uk_dataview</title>
</head>
<body>


<!-- ###TEMPLATE_LIST### begin -->

	<!-- ###TEMPLATE_LIST_ITEM### begin -->
	<!-- ###CONTENT### beginn -->

	<div class="t3ukdataview_list">
		<div class="list_title">###TYP### ###TITEL###</div>
		<div class="datum">###DATUM_BEGINN######UHRZEIT_BEGINN### ###DATUM_ENDE###</div>
		<div class="ort">###ORT###</div>
		<div class="">###TEASER###</div>
		<div class="more-link">###DETAILS###</div>
		<div class="spacer"></div>
	</div>
	
	<!-- ###CONTENT### end -->
	<!-- ###TEMPLATE_LIST_ITEM### end -->
<div id="t3ukdataview_pagebrowser">###LINK_PREV### ###PAGES### ###LINK_NEXT###</div>
<!-- ###TEMPLATE_LIST### end -->




</body>
</html>